.hero {
    height: 90vh;
    background-image: url("https://images.unsplash.com/photo-1675084184839-bb084eadd9d8?q=80&w=719&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}
.card:hover {
transform: scale(1.05);
transition: 0.3s;
}
.card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.4s;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.card img {
    height: 220px;
    object-fit: cover;
    width: 100%;
}

.card-body {
    background: #cfe4e4;
    color: rgb(55, 6, 141);
    font-weight: bold;
    text-align: center;
}
.card:hover {
    transform: translateY(-10px) scale(1.03);
}
.about-desc{
    background-color: rgb(255, 199, 114) ;
    color: black;
}
form {
    background: #d5eaff;
}

button {
    font-weight: bold;
}
.cheader h2{
    color: #0071e9;
}
html{
    scroll-behavior: smooth;
}
.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    color: orange;
}
#menu{
    font-family: 'Poppins', sans-serif;
}

